<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560190617230-ti6hq2r7fllfk30tmmdcevkpfk90araq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560190617230-ti6hq2r7fllfk30tmmdcevkpfk90araq</string>
	<key>API_KEY</key>
	<string>AIzaSyC4tUtj4yT26tZSEmaLXCmNNB4ItmoQdmk</string>
	<key>GCM_SENDER_ID</key>
	<string>560190617230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectVenture</string>
	<key>PROJECT_ID</key>
	<string>projectventure-7942d</string>
	<key>STORAGE_BUCKET</key>
	<string>projectventure-7942d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560190617230:ios:9d2f9c47a0416245807bdf</string>
	<key>DATABASE_URL</key>
	<string>https://projectventure-7942d-default-rtdb.firebaseio.com</string>
</dict>
</plist>